body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --active-tab-color: #05f;
}

.numberInput {
  min-width: 180px;
  max-width: 180px;
  margin-right: 15px;
}

.textInput {
  min-width: 320px;
  max-width: 320px;
  margin-right: 15px;
}

.api-content {
  padding: 2rem 0;
}
